{% extends "core/base.html" %}
{% block title %}Home Page{% endblock  %}
{% block content%}
<div class="mt-5 p-5 text-center bg-body-tertiary rounded-3">
    <i class="fa-solid fa-screwdriver-wrench bi mt-4 mb-3 fa-4x" width="100" height="100"></i>
    <h1 class="text-body-emphasis">Gym Management System (Coming soon!)</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        Our comprehensive gym management system is under development, poised to transform the way you manage your fitness business.
    </p>
  </div>
{% endblock%}