{% extends "core/base.html" %}
{% block title %}
    Reset Password
{% endblock  %}
{% block content %}
    <h1 class="mt-4">Reset Your Password</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary me-2" type="submit">Submit</button>
    </form>
    <div class="small">
        <a href="{% url 'accounts:signup' %}">Create A New Account</a><br>
        <a href="{% url 'accounts:login' %}">Back To Login</a><br>
    </div>
{% endblock content %}