{% extends 'core/base.html' %}

{% comment %} {% block content %}
  <h2>Change Password</h2>
  <form method="post" action="{% url 'accounts:password_change' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
  </form>
{% endblock %} {% endcomment %}
{%block content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <h2>Change Password</h2>
              <form method="post">
                  {% csrf_token %}
                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="form-password">Password</label>
                    {{form.old_password}}
                </div>
                  <!-- Password input -->
                  <div class="form-outline mb-3">
                      <label class="form-label" for="form-password">Password</label>
                      {{form.new_password1}}
                  </div>
                  <!-- Confirm Password -->
                  <div class="form-outline mb-3">
                      <label class="form-label" for="form-password-confirm">Confirm Password</label>
                      {{form.new_password2}}
                  </div>
                  {% if form.errors %}
                    <div class="">
                      {% for error in form.errors %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{error}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <div class="text-center text-lg-start mt-4 pt-2">
                      <button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem"
                          type="submit">
                          Change
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock%}